.nav{
    list-style-type: none;
    font-size: 20px;

    
}

li{
    width: 200px;
    height: 30px;
    border: 2px solid cornflowerblue;
    display: inline-block;
}
p{
    color: yellow;
}

div.class3 p{
    color: blue;
}



