*{
    margin: 0px;
    padding: 0px;
}


img{
    display: block;
}

.colorDiv{
    background-color: rgb(108, 126, 228);
    height: 100px;
    width: 200px;
    border: 1px solid red;
    display: inline-block;
    
}

.pic{
    height: 500px;
    width: 500px;
    margin: auto;
}