* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container {
    border: 1px solid white
    background-color: #5c92c2;
    width: 400px;
    height: 510px;
    text-align: center;
}

.up {
    border: 1px solid #c7653f;
    background-color: #c7653f;
    width: 100%;
    height: 40%;
}

.down {
    border: 1px solid #c7653f;
    background-color: white;
    width: 100%;
    height: 60%;
}

.photo {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: aquamarine;
    margin: auto;
    margin-top: -100px;
}

.name {
    font-weight: 600;
    font-size: 26px;
    margin-top: 20px;
}

.profession{
    font-size: 20px;
    color: gray;
    margin-top: 10px;
}

.button_follow {
    width: 200px;
    height: 30px;
    border: 1px solid black;
    margin: auto;
    margin-top: 20px;
    padding-top: 5px;
    border-radius: 5px;
}

.follow {
    margin-top: 15px;
}