/*атрибут class является глобальным и его можно задать для каждого элемента
созданный класс стилей можно использовать для любого колличества элементов*/

.paragraph {
    background-color: yellow;
    font-weight: bold;
}

p {
    font-size: 16px;
    font-weight: normal;
}

.big_paragraph {
    font-size: 22px;
}

.text_to_uppercase {
    text-transform: uppercase;
}

.img_class {
    height: 200px;
    width: 200px;
}